.navDropdown a::after {
    content: none;
}

.navDropdown {
    padding-left: 8px;
    padding-right: 8px;
}

.navDropdown div[aria-labelledby="outrosSistemas"]{
    /*transform: translate(-145px, 45px) !important;*/
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
    padding-right: 8px !important;
    padding-left: 8px !important;
}

.navDropdown div[aria-labelledby="conta"] {

}
